<div class="Creditos">
<div class="team">
    <img src="~/Images/ari.png" alt="">
    <h1>Ari Jusid</h1>
    <div class="share-container">
        <h3>Compartir</h3>
        <div class="share-buttons">
            <a href="mailto:?subject=Check this out!" class="share-btn email" title="Compartir por correo">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/new-post.png" alt="Email">
            </a>
            <a href="https://www.instagram.com" target="_blank" class="share-btn instagram" title="Compartir en Instagram">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png" alt="Instagram">
            </a>
            <a href="https://twitter.com/intent/tweet?text=Check this out!" target="_blank" class="share-btn twitter" title="Compartir en Twitter">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/twitter.png" alt="Twitter">
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank" class="share-btn facebook" title="Compartir en Facebook">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/facebook.png" alt="Facebook">
            </a>
        </div>
    </div>
</div>

<div class="team">
    <img src="~/Images/zoli.png" alt="">
    <h1>Alan Zolotow</h1>
    <div class="share-container">
        <h3>Compartir</h3>
        <div class="share-buttons">
            <a href="mailto:?subject=Check this out!" class="share-btn email" title="Compartir por correo">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/new-post.png" alt="Email">
            </a>
            <a href="https://www.instagram.com" target="_blank" class="share-btn instagram" title="Compartir en Instagram">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png" alt="Instagram">
            </a>
            <a href="https://twitter.com/intent/tweet?text=Check this out!" target="_blank" class="share-btn twitter" title="Compartir en Twitter">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/twitter.png" alt="Twitter">
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank" class="share-btn facebook" title="Compartir en Facebook">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/facebook.png" alt="Facebook">
            </a>
        </div>
    </div>
</div>
</div>