@foreach(Deporte depo in ViewBag.ListaDeportes){
    <h1>@depo.Nombre</h1>
    <img src = "~/Images/@depo.Foto">
    <button><a href='@Url.Action("VerDetalleDeporte", new {idDeporte = @depo.idDeporte})'>Ver Detalles<a></button>
}