<div class="Titulos">
<h1>Conoce nuestros deportes</h1></div>

@foreach(Deporte depo in ViewBag.ListaDeportes){
    <div class="card text-bg-dark" style=" width:700px">
      <div class="card-img-overlay-dark">
      <img src="~/Images/@depo.Foto" class="card-img" alt="..." style="height: 200px;"></div>
      <div class="card-img-overlay">
        <div class="costado">
          <h3 class="card-title">@depo.Nombre</h3>
          <button type="button" class="btn btn-dark" ><a href='@Url.Action("VerDetalleDeporte", new {IdDeporte = @depo.IdDeporte})'>Ver más</a></button>
        </div>
      </div>
    </div>
}

