<div class="heroHistoria">
    <h1>Historia Olimpica</h1>
</div>
<div class="Titulos"><h1>Linea cronologica</h1></div>
<div class="historia">
<img src="~/Images/linea.png" alt="" style="width: 100%;"></div>