@{
    ViewData["Title"] = "Index";
}

<div class="Index">
    <div class="banner">
        <h1>JUEGOS OLIMPÍCOS</h1>
        <p>Los Juegos Olímpicos son la única competición verdaderamente global, multideportiva y que celebra el deporte en el mundo. Con más de 200 países que participan en más de 400 eventos entre los Juegos de Verano y de Invierno, los Juegos son donde todo el mundo acude a competir, a inspirarse y a estar juntos.</p>
    </div>
    <section>
        <div class="sect">
            <div class="text">
            <h1>DEPORTES</h1>
            <p>Los Juegos Olímpicos abarcan una amplia gama de deportes que ponen a prueba la fuerza, resistencia, habilidad y precisión de los atletas. Cada disciplina exige un conjunto único de capacidades físicas y mentales, destacando el esfuerzo y la dedicación necesarios para alcanzar el más alto nivel en la competición.</p>
            </div><img src="~/Images/deportes.png" alt="">
        </div>
        <div class="sect">
            <div class="text">
            <h1>PAISES</h1>
            <p>Los Juegos Olímpicos reúnen a países de todo el mundo en un escenario único de competencia y cooperación. Cada nación envía a sus mejores atletas para competir en diversos deportes, demostrando su talento y esfuerzo en busca de la excelencia. Este evento simboliza la unidad global a través de la competición  entre naciones.</p>
            </div><img src="~/Images/historia.webp" alt="">
        </div>
        <div class="sect">
            <div class="text">
            <h1>DEPORTISTAS</h1>
            <p>Los Juegos Olímpicos reúnen a los mejores deportistas del mundo, quienes compiten en diversas disciplinas con habilidad, dedicación y esfuerzo. Tras años de intenso entrenamiento, cada atleta busca la excelencia y representar a su país con orgullo, reflejando el espíritu de superación y compromiso que define a los competidores.</p>
            </div><img src="~/Images/deportistas.png" alt="">
        </div>
    <section>
</div>
