@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Juegos Olimpicos</h1>
    <p>Los Juegos Olímpicos son la única competición verdaderamente global, multideportiva y que celebra el deporte en el mundo. Con más de 200 países que participan en más de 400 eventos entre los Juegos de Verano y de Invierno, los Juegos son donde todo el mundo acude a competir, a inspirarse y a estar juntos.</p>
</div>
